/* GLOBAL */
a:hover {
  cursor: pointer;
}
.container,
html {
  background-color: white;
}
.loading-icon {
  margin: 0 auto;
}
/* NAVBAR */

li {
  list-style: none;
}
.welcome-message {
  width: 400px;
}
.login-welcome {
  width: 400px;
}
.logout-button-container {
  width: 400px;
  float: left;
  margin-left: 20px;
}
.logout-button,
.login-button,
.signup-button {
  height: 40px;
  width: 80px;
  margin-right: 20px;
  margin-left: 100px;
  margin-top: -40px;
}
.login-username-label,
.login-password-label {
  float: left;
  margin-left: 6px;
  margin-bottom: 4px;
  margin-top: 4px;
}
.login-form {
  display: block;
  text-align: center;
}
.login-submit {
  margin-top: 10px;
}
.login-welcome {
  margin-left: 10px;
  font-size: 30px;
  text-align: center;
  width: 100%;
}
.login-username {
  position: absolute;
  margin-top: 20px;
  float: right;
  font-size: 20px;
}
.welcome-message form {
  width: 200px;
  margin: 0 auto;
}

.shopping-list-products {
  list-style: circle;
}
.navbar a {
  font-size: 23px;
  padding-left: 15px;
  padding-right: 15px;
}

/* SHOPPING LIST */
.shopping-list-heading {
  margin: 0 auto;
  margin-bottom: 20px;
}

td p {
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
}

.list-name {
  font-size: 22px;
  font-weight: 700;
  float: left;
}
.list-date {
  float: right;
  margin-right: 20px;
  font-weight: 500;
  font-size: 1.2em;
}
.delete-list-button {
  float: right;
}
/* New List */
.new-list-form {
  display: block;
  padding: 0 30%;
}
.new-list-submit {
  float: right;
}
.budget-input {
  width: 400px;
}
.list-name-label,
.list-budget-label {
  font-weight: 700;
}
.add-list-button {
  margin-bottom: 30px;
}
/* SHOPPING LIST - PRODUCTS */

.add-item-button {
  float: right;
}
.add-item-button:hover {
  cursor: pointer;
}
.add-to-cart-button {
  margin-top: -90px;
  margin-right: 4px;
  float: right;
}
.product-name h2,
.product-name p {
  margin-left: 20px;
}
[value="added"] {
  margin-left: 4px;
  height: 20px;
  width: 20px;
}
/* ADD PRODUCT FROM */

.form-description,
.form-ingredients {
  margin-left: 20px;
  margin-right: 20px;
}

/* Store */
.store-main-heading {
  width: 500px;
  text-align: center;
}
.store-col-header {
  margin-bottom: 20px;
  border: 2px solid black;
  text-align: center;
}
.store-aisles,
.store-name {
  text-align: center;
}
.store-aisles,
.store-name:hover {
  cursor: pointer;
}
/* STORE PAGE */

.store-page-container {
  text-align: center;
}

/* SHOPPING LIST TOTAL */

.warning {
  background: yellow;
}
.danger {
  background: red;
}

/* HOME */

.welcome-header {
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 40px;
}
.home-image-cart {
  height: 400px;
  min-width: 600px;
  background-image: url(./images/cart.jpg);
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 5px 24px 6px rgba(0, 0, 0, 0.6);
}
.home-image-container {
  width: 100%;
  padding: 0 40%;
}

.home-store-image-container {
  height: 200px;
  min-width: 210px;
  max-width: 210px;
  background-image: url(./images/store.jpg);
  background-size: cover;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 5px 24px -6px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.home-store-image-container,
.home-list-image-container,
.home-search-box-container {
  margin: 0 auto;
  margin-top: 20px;
}
.home-search-icon {
  height: 200px;
  min-width: 210px;
  max-width: 210px;
  background: rgba(21.5%, 80%, 95.2%, 0.7);
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-right: 5px;
  font-size: 128px;
  border: none;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 80px;
  box-shadow: 2px 5px 24px -6px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.search-icon-label {
  color: black;
  font-size: 20px;
  padding-left: 8px;
}
.home-list-image-container {
  height: 200px;
  min-width: 210px;
  max-width: 210px;
  background-image: url(./images/list.jpg);
  background-size: cover;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 2px 5px 24px -6px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.home-list-label,
.home-store-label,
.home-search-label {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  font-size: 18px;
  margin-left: 5px;
  font-weight: 700;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
/* SEARCH PAGE */
.suggestion-box ul li {
  margin-left: -40px;
}
.suggestion-button,
.search-button {
  margin-left: 40px;
}
.search-button-container {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
.search-button-container button {
  margin-left: 10px;
}
/* .random-button {
  display: flex;
  justify-content: center;
} */
.hide {
  display: none;
}
.show {
  display: flex;
  justify-content: center;
  background: #eee;
  box-shadow: 2px 5px 24px -6px rgba(0, 0, 0, 0.75);
  margin-top: 40px;
  padding: 20px;
}
.search-form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.add-suggestion-to-cart {
  float: right;
  margin-left: 50px;
}

/* Media Queries */

@media (min-width: 700px) {
  .logout-button-container {
    margin-top: 40px;
  }
  .home-image-container {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .home-image-cart {
    min-width: 500px;
    box-shadow: 2px 5px 24px -6px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
  }
  .home-image-container {
    display: flex;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 520px) {
  html {
    width: 100%;
  }
  h1 {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .home-image-cart {
    margin: 0 auto;
    box-shadow: 2px 5px 24px -6px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    min-width: 340px;
  }

  .home-store-image-container,
  .home-list-image-container,
  .home-search-icon {
    min-width: 300px;
    height: 400px;
    background-size: cover;
    box-shadow: 2px 5px 24px -6px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
  }
  .home-search-icon {
    height: 300px;
  }
  .search-icon-label {
    font-size: 50px;
  }
  .home-search-box-container {
    margin-bottom: 50px;
  }
  .home-search-label {
    margin-bottom: 20px;
  }
  .home-list-label,
  .home-store-label,
  .home-search-label {
    color: black;
    text-decoration: none;
    font-size: 38px;
    margin-left: 5px;
    text-align: center;
  }
  .home-search-icon {
    margin: 0 auto;
  }
  .logout-button {
    float: right;
    margin-top: -15px;
  }
  .login-username {
    margin-left: 5px;
    margin-top: -10px;
    color: #007bff;
  }
  .welcome-header h1 {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  /* Shopping List */
  .list-date {
    font-size: 1em;
    padding: 4px;
    margin-right: 0;
    margin-top: 30px;
  }
  .delete-list-button span {
    font-weight: 900;
  }
  .shopping-list-products {
    min-width: 300px;
  }
  /* Store Page */
  .store-main-heading {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 3em;
  }
  /* Suggestion Page */
  .add-suggestion-to-cart {
    float: right;
    margin-left: 20px;
    height: 80px;
    width: 100px;
  }
  .login-button {
    float: right;
    color: #007bff;
  }
  .signup-button {
    float: right;
    margin-top: -20px;
    color: #007bff;
  }
}
.login-button {
  float: right;
  color: #007bff;
}
.signup-button {
  float: right;
  margin-top: -20px;
  color: #007bff;
}
.login-button:hover,
.signup-button:hover {
  cursor: pointer;
}
